# Binaries for programs and plugins
*.exe
*.exe~
*.so
*.dylib
*.dll
*.o
ZorroKernel
zorroOS.iso
fennecfstool
zorroOS.hd
*.bin

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml
