# Binaries for programs and plugins
*.exe
*.exe~
*.so
*.dylib
*.dll
*.o
OwlKernel
zorroOS.iso
/kernel/modules/
/kernel/main.v
/kernel/v.mod

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml
